
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{product.get_absolute_url}}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{product.get_absolute_url}}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">${{ product.price }}</div> <!-- price-wrap.// -->
				<div class="rating-star">
					<span>
						<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif 0.5 <= product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif 1.5 <= product.averageReview and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif 2.5 <= product.averageReview and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif 3.5 <= product.averageReview and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif 4.5 <= product.averageReview and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
					</span>
				</div> 
			</figcaption>
		</div>
	</div> <!-- col.// -->
